__pycache__/
venv/
.venv*/
dist/
.coverage*
.ipynb_checkpoints/
.ruff_cache/
.DS_Store
._*
modal_env/
/*.yml
!/default_config.yml
/bert/*/*.bin
/bert/*/*.h5
/bert/*/*.model
/bert/*/*.safetensors
/bert/*/*.msgpack
/bert/*/*.onnx

/configs/paths.yml

/pretrained/*.safetensors
/pretrained/*.pth

/pretrained_jp_extra/*.safetensors
/pretrained_jp_extra/*.pth

/slm/*/*.bin

/scripts/test/
/scripts/lib/
/scripts/Style-Bert-VITS2/
/scripts/sbv2/
*.zip
*.csv
*.bak
/mos_results/

safetensors.ipynb
*.wav
/static/

# pyopenjtalk's dictionary
*.dic

.DS_Store
playground.ipynb
playgrounds/

# Modal仮想環境関連
modal_env/__pycache__/
modal_env/*.pyc
modal_env/Lib/
modal_env/Include/
modal_env/Scripts/
modal_env/share/
modal_env/Lib/site-packages/
modal_env/*.pyd
modal_env/*.whl
modal_env/*.dist-info/
